## EDA Part 1

### Load credentials from Project root

In [1]:
import os
from dotenv import load_dotenv

# Load .env from project root
load_dotenv()  # looks for .env in the current working directory

AWS_ACCESS_KEY_ID = os.getenv("AWS_Acess_Key_ID")
AWS_SECRET_ACCESS_KEY = os.getenv("AWS_Secret_Access_Key")
AWS_REGION = os.getenv("AWS_REGION", "us-east-1")

ATHENA_S3_OUTPUT = os.getenv("ATHENA_S3_OUTPUT")
ATHENA_DATABASE = os.getenv("ATHENA_DATABASE")

AWS_ACCESS_KEY_ID[:4], AWS_REGION, ATHENA_DATABASE

('AKIA', 'us-east-1', 's3_atmos_stclair')

### Load the data by creating boto session using awswrangler

In [2]:
import boto3
import awswrangler as wr
import pandas as pd

session = boto3.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    region_name=AWS_REGION,
)

### All the Tables in the Athena Database

In [3]:
df_tables = wr.catalog.tables(database=ATHENA_DATABASE, boto3_session=session)
table_names = df_tables["Table"].tolist()

print("Table names:", table_names)
print("Number of tables:", len(table_names))

Table names: ['achievement_user_completions', 'achievements', 'banner_clicks', 'bdg_user_completions', 'certification_users', 'comment_likes', 'community_comments', 'country_states', 'instances', 'instances_v', 'li_attempts', 'li_stats_agg_all', 'li_stats_agg_all_v', 'mi_user_mission_step_completions', 'offboarded_instances', 'poll_user_completions', 'rank_user_completions', 'rcs_historic_users', 'rcs_historic_users_v', 'rcs_lifetime_stats_by_month_v', 'rcs_user_lifetimes_no_stats_v', 'reward_prizes', 'reward_user_claims', 'reward_user_claims_v', 'rewards', 'sale_user_submissions', 'snippet_view_logs', 'snippets', 'survey_user_completions', 'test2_v', 'test_v', 'users']
Number of tables: 32

In [4]:
df_tables.head(32)

,Database,Table,Description,TableType,Columns,Partitions
0,s3_atmos_stclair,achievement_user_completions,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
1,s3_atmos_stclair,achievements,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
2,s3_atmos_stclair,banner_clicks,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
3,s3_atmos_stclair,bdg_user_completions,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
4,s3_atmos_stclair,certification_users,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
5,s3_atmos_stclair,comment_likes,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
6,s3_atmos_stclair,community_comments,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
7,s3_atmos_stclair,country_states,,EXTERNAL_TABLE,"country_short_code, country_name, state_name, ...",
8,s3_atmos_stclair,instances,,EXTERNAL_TABLE,"instance_id, client_name, site_name, site_url,...",
9,s3_atmos_stclair,instances_v,,VIRTUAL_VIEW,"instance_id, client_name, region_name, site_na...",
10,s3_atmos_stclair,li_attempts,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
11,s3_atmos_stclair,li_stats_agg_all,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
12,s3_atmos_stclair,li_stats_agg_all_v,,VIRTUAL_VIEW,"client_name, region_name, site_name, product_n...",
13,s3_atmos_stclair,mi_user_mission_step_completions,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
14,s3_atmos_stclair,offboarded_instances,,EXTERNAL_TABLE,"instance_id, client_name, site_name, site_url,...",
15,s3_atmos_stclair,poll_user_completions,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
16,s3_atmos_stclair,rank_user_completions,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
17,s3_atmos_stclair,rcs_historic_users,,EXTERNAL_TABLE,"instance_id, aggregated_for_date, user_id, pre...",
18,s3_atmos_stclair,rcs_historic_users_v,,VIRTUAL_VIEW,"instance_id, client_name, region_name, site_na...",
19,s3_atmos_stclair,rcs_lifetime_stats_by_month_v,,VIRTUAL_VIEW,"instance_id, client_name, site_name, region_na...",
20,s3_atmos_stclair,rcs_user_lifetimes_no_stats_v,,VIRTUAL_VIEW,"instance_id, user_id, start_date, end_date, st...",
21,s3_atmos_stclair,reward_prizes,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
22,s3_atmos_stclair,reward_user_claims,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
23,s3_atmos_stclair,reward_user_claims_v,,VIRTUAL_VIEW,"instance_id, client_name, region_name, site_na...",
24,s3_atmos_stclair,rewards,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
25,s3_atmos_stclair,sale_user_submissions,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
26,s3_atmos_stclair,snippet_view_logs,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
27,s3_atmos_stclair,snippets,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
28,s3_atmos_stclair,survey_user_completions,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",
29,s3_atmos_stclair,test2_v,,VIRTUAL_VIEW,test,
30,s3_atmos_stclair,test_v,,VIRTUAL_VIEW,test,
31,s3_atmos_stclair,users,,EXTERNAL_TABLE,"instance_id, generated_for_date, generated_ts,...",

### Using Users table for EDA

### Dataset Overview & Data Types Distribution

In [5]:
query = "SELECT * FROM users"  

df_users = wr.athena.read_sql_query(
    sql=query,
    database=ATHENA_DATABASE,
    s3_output=ATHENA_S3_OUTPUT,
    boto3_session=session,
    ctas_approach=False,
    use_threads=True,
)

In [6]:
df_users.head()

,instance_id,generated_for_date,generated_ts,user_id,employee_number,account_created_ts,account_confirmed_ts,account_merged_ts,account_deleted_ts,account_disabled_ts,...,first_li_completion_ts,last_li_completion_ts,num_achievements,num_badges,num_user_referrals,num_sale_submissions,num_approved_sale_submissions,num_rejected_sale_submissions,num_pending_sale_submissions,num_connections
0,0E77CD92DB3440E20C2D118345397F9A,2026-02-08,2026-02-09 05:00:26,4,<NA>,2024-01-30 12:54:58,2024-01-30 12:54:58,NaT,NaT,NaT,...,2024-04-17 15:05:57,2024-04-17 15:05:57,0,1,0,<NA>,<NA>,<NA>,<NA>,0
1,823FB1CC552BEDC9B552EDA3335FBAE8,2025-07-31,2025-08-01 04:01:45,10003,<NA>,2025-03-24 11:07:34,2025-03-24 11:07:34,NaT,NaT,NaT,...,NaT,NaT,0,0,0,<NA>,<NA>,<NA>,<NA>,0
2,823FB1CC552BEDC9B552EDA3335FBAE8,2025-07-31,2025-08-01 04:01:45,4,<NA>,2024-01-30 12:54:58,2024-01-30 12:54:58,NaT,NaT,2025-03-25 13:43:03,...,2024-04-17 15:05:57,2024-04-17 15:05:57,0,1,0,<NA>,<NA>,<NA>,<NA>,0
3,0E81473CE89CCD67EB1F97B5C21FBE93,2025-10-13,2025-10-14 05:00:28,10005,<NA>,2024-10-16 09:01:00,2024-10-16 09:01:31,NaT,NaT,NaT,...,NaT,NaT,0,0,0,<NA>,<NA>,<NA>,<NA>,0
4,0E81473CE89CCD67EB1F97B5C21FBE93,2025-10-13,2025-10-14 05:00:28,10004,<NA>,2024-10-09 11:50:06,2024-10-09 11:50:41,NaT,NaT,NaT,...,NaT,NaT,0,0,0,<NA>,<NA>,<NA>,<NA>,0

In [7]:
len(df_users)

1183360

In [8]:
df_users.shape

(1183360, 82)

Count of Total users in Users table is 1180817 

**Full dataset scale: 1,180,817 rows × 82 columns – a comprehensive production user table capturing user profiles, lifecycle events, engagement metrics, and location data across multiple instances.**

In [9]:
df_users.dtypes.value_counts()

string[python]    44
Int32             18
datetime64[ns]    15
Int64              4
object             1
Name: count, dtype: int64

In [10]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183360 entries, 0 to 1183359
Data columns (total 82 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   instance_id                     1183360 non-null  string
 1   generated_for_date              1183360 non-null  object
 2   generated_ts                    1183360 non-null  datetime64[ns]
 3   user_id                         1183360 non-null  string
 4   employee_number                 148710 non-null   string
 5   account_created_ts              1183353 non-null  datetime64[ns]
 6   account_confirmed_ts            1027550 non-null  datetime64[ns]
 7   account_merged_ts               7853 non-null     datetime64[ns]
 8   account_deleted_ts              545871 non-null   datetime64[ns]
 9   account_disabled_ts             385408 non-null   datetime64[ns]
 10  last_app_login_ts               469816 non-null   datetime64[ns]
 11  account_status                  1183360 non-null  string
 12  verification_status             1183360 non-null  string
 13  first_login_ts                  899773 non-null   datetime64[ns]
 14  last_login_ts                   899773 non-null   datetime64[ns]
 15  last_online_ts                  679322 non-null   datetime64[ns]
 16  user_type_id                    1141228 non-null  string
 17  user_type                       1183126 non-null  string
 18  hierarchy_title                 1147671 non-null  string
 19  retailer_id                     913348 non-null   string
 20  retailer                        954609 non-null   string
 21  location_country_code           424292 non-null   string
 22  location_state                  473978 non-null   string
 23  location_id                     486699 non-null   string
 24  location_title                  486699 non-null   string
 25  location_code                   336606 non-null   string
 26  location_longitude              119050 non-null   string
 27  location_latitude               119050 non-null   string
 28  location_city                   479662 non-null   string
 29  location_zipcode                476549 non-null   string
 30  location_address_line1          483249 non-null   string
 31  location_address_line2          39219 non-null    string
 32  location_metadata_json          207686 non-null   string
 33  country_code                    1143815 non-null  string
 34  country_name                    1179264 non-null  string
 35  user_rank_id                    480706 non-null   string
 36  user_rank_number                491862 non-null   Int32
 37  user_rank_title                 491862 non-null   string
 38  last_verified_ts                394482 non-null   datetime64[ns]
 39  verification_expired_ts         355962 non-null   datetime64[ns]
 40  first_verification_method       760476 non-null   string
 41  has_reverified                  749727 non-null   Int32
 42  num_days_online                 910715 non-null   Int32
 43  is_self_registration            1183360 non-null  Int32
 44  referred_by_referral_code       449930 non-null   string
 45  is_quick_referral               1183360 non-null  Int32
 46  referred_by_user_id             449930 non-null   string
 47  referred_by_first_name          367789 non-null   string
 48  referred_by_last_name           367789 non-null   string
 49  referred_by_user_type_title     449930 non-null   string
 50  referred_by_retailer_title      344525 non-null   string
 51  referred_by_location_title      98789 non-null    string
 52  referral_qualified_on_ts        250344 non-null   datetime64[ns]
 53  timezone                        1183360 non-null  string
 54  preferred_language_id           1082363 non-null  string
 55  is_opted_in_for_marketing_coms  1136056 non-null  Int32
 56  can_display_user_info           1183360 non-null  Int32
 57  is_primary_email_confirmed      943283 non-null   Int32
 58  custom_field                    8937 non-null     string
 59  origin_auth_source_id           277003 non-null   string
 60  admin_access_id                 48868 non-null    string
 61  admin_access_title              48868 non-null    string
 62  admin_auto_access_id            48868 non-null    string
 63  report_access_id                48868 non-null    string
 64  report_access_title             48868 non-null    string
 65  report_auto_access_id           48868 non-null    string
 66  total_points_earned             1183360 non-null  Int64
 67  total_spendable_points_earned   1140631 non-null  Int64
 68  total_points_spent              1183360 non-null  Int64
 69  points_balance                  1183360 non-null  Int64
 70  num_li_completions              1183360 non-null  Int32
 71  num_unique_li_completions       1183360 non-null  Int32
 72  first_li_completion_ts          527167 non-null   datetime64[ns]
 73  last_li_completion_ts           527167 non-null   datetime64[ns]
 74  num_achievements                1183360 non-null  Int32
 75  num_badges                      1183360 non-null  Int32
 76  num_user_referrals              1183360 non-null  Int32
 77  num_sale_submissions            42729 non-null    Int32
 78  num_approved_sale_submissions   42729 non-null    Int32
 79  num_rejected_sale_submissions   42729 non-null    Int32
 80  num_pending_sale_submissions    42729 non-null    Int32
 81  num_connections                 1183360 non-null  Int32
dtypes: Int32(18), Int64(4), datetime64[ns](15), object(1), string(44)
memory usage: 683.9+ MB

**Data Types Distribution:**
- **44 String columns (44)** – primarily user IDs (user_id, instance_id), statuses (account_status, verification_status), names (country_name, retailer, user_type), and location details (location_city, location_zipcode, etc.).
- **15 Datetime columns (15)** – timestamps for key events like account_created_ts, account_confirmed_ts, last_login_ts, last_online_ts, first_li_completion_ts, last_li_completion_ts, and verification dates (last_verified_ts, verification_expired_ts).
- **18 Int32 columns (18)** – flags and counts such as is_self_registration, is_quick_referral, is_opted_in_for_marketing_coms, num_li_completions, num_achievements, num_badges, num_user_referrals, and num_connections.
- **4 Int64 columns (4)**– high-range numerics like total_points_earned, total_spendable_points_earned, total_points_spent, and points_balance.
- **1 Object column (1)** – generated_for_date (likely date strings).

*This shows a rich dataset with user profiles, engagement metrics, and temporal activity data.*

In [11]:
# Show null counts and percentages for columns with missing data
null_counts = df_users.isnull().sum()
null_pct = (df_users.isnull().sum() / len(df_users)) * 100

null_summary = pd.DataFrame({
    'Null_Count': null_counts[null_counts > 0],
    'Null_Percentage': null_pct[null_counts > 0]
}).sort_values('Null_Count', ascending=False)

# Display ALL rows
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

null_summary

                                Null_Count  Null_Percentage
account_merged_ts                  1175507        99.336381
custom_field                       1174423        99.244778
location_address_line2             1144141        96.685793
num_rejected_sale_submissions      1140631        96.389180
num_approved_sale_submissions      1140631        96.389180
num_pending_sale_submissions       1140631        96.389180
num_sale_submissions               1140631        96.389180
admin_auto_access_id               1134492        95.870403
admin_access_id                    1134492        95.870403
admin_access_title                 1134492        95.870403
report_access_id                   1134492        95.870403
report_access_title                1134492        95.870403
report_auto_access_id              1134492        95.870403
referred_by_location_title         1084571        91.651822
location_latitude                  1064310        89.939663
location_longitude                 1064310        89.939663
employee_number                    1034650        87.433241
location_metadata_json              975674        82.449466
referral_qualified_on_ts            933016        78.844646
origin_auth_source_id               906357        76.591823
location_code                       846754        71.555064
referred_by_retailer_title          838835        70.885867
verification_expired_ts             827398        69.919382
referred_by_first_name              815571        68.919940
referred_by_last_name               815571        68.919940
account_disabled_ts                 797952        67.431044
last_verified_ts                    788878        66.664244
location_country_code               759068        64.145146
referred_by_referral_code           733430        61.978603
referred_by_user_id                 733430        61.978603
referred_by_user_type_title         733430        61.978603
last_app_login_ts                   713544        60.298134
location_state                      709382        59.946424
location_zipcode                    706811        59.729161
location_city                       703698        59.466097
user_rank_id                        702654        59.377873
location_address_line1              700111        59.162977
location_title                      696661        58.871434
location_id                         696661        58.871434
user_rank_title                     691498        58.435134
user_rank_number                    691498        58.435134
first_li_completion_ts              656193        55.451680
last_li_completion_ts               656193        55.451680
account_deleted_ts                  637489        53.871096
last_online_ts                      504038        42.593801
has_reverified                      433633        36.644216
first_verification_method           422884        35.735871
first_login_ts                      283587        23.964559
last_login_ts                       283587        23.964559
num_days_online                     272645        23.039903
retailer_id                         270012        22.817401
is_primary_email_confirmed          240077        20.287740
retailer                            228751        19.330635
account_confirmed_ts                155810        13.166746
preferred_language_id               100997         8.534765
is_opted_in_for_marketing_coms       47304         3.997431
total_spendable_points_earned        42729         3.610820
user_type_id                         42132         3.560370
country_code                         39545         3.341756
hierarchy_title                      35689         3.015904
country_name                          4096         0.346133
user_type                              234         0.019774
account_created_ts                       7         0.000592

In [12]:
# Show columns with NO null values
no_nulls = df_users.isnull().sum() == 0
print("Columns with NO null values:")
df_users.columns[no_nulls].tolist()

Columns with NO null values:

['instance_id',
 'generated_for_date',
 'generated_ts',
 'user_id',
 'account_status',
 'verification_status',
 'is_self_registration',
 'is_quick_referral',
 'timezone',
 'can_display_user_info',
 'total_points_earned',
 'total_points_spent',
 'points_balance',
 'num_li_completions',
 'num_unique_li_completions',
 'num_achievements',
 'num_badges',
 'num_user_referrals',
 'num_connections']

In [13]:
# Count and list categorical columns
cat_cols = df_users.select_dtypes(include=['object', 'string','category']).columns
print(f"Categorical columns: {len(cat_cols)}")
print(cat_cols.tolist())

# Count and list numerical columns  
num_cols = df_users.select_dtypes(include=['number', 'Int32','Int64']).columns
print(f"\n Numerical columns: {len(num_cols)}")
print(num_cols.tolist())

Categorical columns: 45
['instance_id', 'generated_for_date', 'user_id', 'employee_number', 'account_status', 'verification_status', 'user_type_id', 'user_type', 'hierarchy_title', 'retailer_id', 'retailer', 'location_country_code', 'location_state', 'location_id', 'location_title', 'location_code', 'location_longitude', 'location_latitude', 'location_city', 'location_zipcode', 'location_address_line1', 'location_address_line2', 'location_metadata_json', 'country_code', 'country_name', 'user_rank_id', 'user_rank_title', 'first_verification_method', 'referred_by_referral_code', 'referred_by_user_id', 'referred_by_first_name', 'referred_by_last_name', 'referred_by_user_type_title', 'referred_by_retailer_title', 'referred_by_location_title', 'timezone', 'preferred_language_id', 'custom_field', 'origin_auth_source_id', 'admin_access_id', 'admin_access_title', 'admin_auto_access_id', 'report_access_id', 'report_access_title', 'report_auto_access_id']

 Numerical columns: 22
['user_rank_number', 'has_reverified', 'num_days_online', 'is_self_registration', 'is_quick_referral', 'is_opted_in_for_marketing_coms', 'can_display_user_info', 'is_primary_email_confirmed', 'total_points_earned', 'total_spendable_points_earned', 'total_points_spent', 'points_balance', 'num_li_completions', 'num_unique_li_completions', 'num_achievements', 'num_badges', 'num_user_referrals', 'num_sale_submissions', 'num_approved_sale_submissions', 'num_rejected_sale_submissions', 'num_pending_sale_submissions', 'num_connections']

**Columns Distribution:**
- **45 Categorical columns** (IDs, statuses, names, locations, types)
- **22 Numerical columns** (points, counts, completions, metrics)
- **15 Datetime columns** (activity timestamps)